
@{

    ViewBag.Title = "Enviados";

}

<br />
<br />
@if (ViewBag.Nuevo == true)
{
    <img src="~/img/cheque.png" />
    <h2 style="color:darkslategrey; text-align:center;">El registro de alquiler se ha realizado exitosamente</h2>
}
else
{
    <h2 style="color:darkslategrey; text-align:center;">La devolucion del auto se ha realizado exitosamente</h2>
}

