@model renta_autos.Models.TipoVehiculos
@using renta_autos.Models;
@{
    ViewBag.Title = "CreateOrUpdateTipo";
}

<br />
<center>
    @if (Model.Id_tipo_vehiculo > 0)
    {
        <h1>Editar Tipos Vehiculos</h1>
    }
    else
    {
        <h1>Agregar Tipos Vehiculos</h1>
    }
</center>
<br />

@using (Html.BeginForm("CreateOrUpdateTipo", "Tipo_Vehiculos", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id_tipo_vehiculo)

    <table>
        <tr>
            <td><label>Tipo Vehiculo :</label></td>
            <td>
                @Html.TextBoxFor(x => x.Tipo_vehiculo, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Tipo_vehiculo, null, new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <center>
                    <input type="submit" class="btn btn-success" onclick="setTimeout('CreateUpdate(@Model.Id_tipo_vehiculo)',1000);" value="Enviar Datos" />
                </center>
            </td>
        </tr>
    </table>
}
<script>
    function CreateUpdate(id) {
        if (id > 0) {
            Swal.fire({
                position: 'center',
                icon: 'info',
                title: '¡Editado!',
                showConfirmButton: true,
                timer: 2000
            })
        } else {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Dato Registrado',
                showConfirmButton: false,
                timer: 2000
            })
        }

    }

</script>

