
@{
    ViewBag.Title = "Correcto";
}

<br />


@if (ViewBag.IsNew == true)
{
    <h2 style="color:deepskyblue;text-align:center">
        ¡Datos agregados correctamente!
    </h2>
}
else
{
    <h2 style="color:deepskyblue;text-align:center">
        ¡Datos actualizados correctamente!
    </h2>
}



